{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    {{- /* Talks */ -}}
    {{- if eq .Section "talks" -}}
        <div class="page home" data-home="talks">
            {{- /* Paginate */ -}}
            {{- if .Pages -}}
                {{- /* 调整归档时间跨度 */ -}}
                {{- $pages := .Pages.GroupByDate "2006" -}}
                {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                    {{- $pages = $.Paginate $pages . -}}
                {{- else -}}
                    {{- $pages = .Paginate $pages -}}
                {{- end -}}
                {{- range $pages.PageGroups -}}
                    <h1 class="group-title">{{ .Key }}</h1>
                    {{- range .Pages -}}
                        {{- .Render "talk" -}}
                    {{- end -}}
                {{- end -}}
                {{- partial "paginator.html" . -}}
            {{- end -}}
        </div>

    {{- /* Posts */ -}}
    {{- else -}}
        <div class="page archive">
            {{- /* Title */ -}}
            <h2 class="single-title animate__animated animate__pulse animate__faster">
                {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
            </h2>

            {{- /* Paginate */ -}}
            {{- if .Pages -}}
                {{- $pages := .Pages.GroupByDate "2006" -}}
                {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                    {{- $pages = $.Paginate $pages . -}}
                {{- else -}}
                    {{- $pages = .Paginate $pages -}}
                {{- end -}}
                {{- range $pages.PageGroups -}}
                    <h3 class="group-title">{{ .Key }}</h3>
                    {{- range .Pages -}}
                        <article class="archive-item">
                            <a href="{{ .RelPermalink }}" class="archive-item-link">
                                {{- .Title | emojify -}}
                            </a>
                            <span class="archive-item-date">
                                {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                            </span>
                        </article>
                    {{- end -}}
                {{- end -}}
                {{- partial "paginator.html" . -}}
            {{- end -}}
        </div>
    {{- end -}}
{{- end -}}
